<div ng-controller="dataExportForm" class="panel panel-primary">
<div class="panel-heading">
	<h3 class="panel-title">Export Bulk Data to FTP Location</h3>
</div>
<div class="panel-body">
	<form class="form-horizontal" role="form">
		<!--
		<div class="form-group">
			<label class="control-label col-sm-2" for="email">Frequency:</label>
			<div class="col-sm-10 switch-field">
				<input type="radio" id="switch_3_left" name="switch_3" value="yes" checked/>
				<label for="switch_3_left">Weekly</label>
				<input type="radio" id="switch_3_center" name="switch_3" value="maybe" />
				<label for="switch_3_center">Monthly</label>
				<input type="radio" id="switch_3_right" name="switch_3" value="no" />
				<label for="switch_3_right">Quarterly</label>
			</div>
		</div>
		-->
		<div class="form-group">
			<label for="inputttl" class="col-sm-3 control-label">Time Range</label>
			<div class="col-sm-9">
				<div class="col-sm-3">
					<input ui-date="dateOptions" ng-model="exp.startDate" placeholder="Start Date" class="form-control" id="startDate" ng-required="true" datepicker-popup>
				</div>
				<div class="col-sm-3">
					<input ui-date="dateOptions" ng-model="exp.endDate" placeholder="End Date" class="form-control" id="endDate" ng-required="true" datepicker-popup>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="inputttl" class="col-sm-3 control-label">Table</label>
			<div class="col-sm-9">
				<div class="radio">
					<label><input type="radio" name="table" ng-change='loadColumns(exp.table)' value="title" ng-model="exp.table"/> Title</label>
				</div>
				<div class="radio">
					<label><input type="radio" name="table" ng-change='loadColumns(exp.table)' value="infohashes" ng-model="exp.table"/> Infohashes</label>
				</div>
				<div class="radio">
					<label><input type="radio" name="table" ng-change='loadColumns(exp.table)' value="ip" ng-model="exp.table"/> IP</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="inputttl" class="col-sm-3 control-label">Columns</label>
			<div class="col-sm-9">
				<span ng-if="columns.length === 0">
					Please select a table
				</span>
				<div class="checkbox" ng-repeat="column in columns">
					<label><input type="checkbox" checklist-model="exp.columns" checklist-value="column"> {{column}}</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="inputttl" class="col-sm-3 control-label">FTP Location</label>
			<div class="col-sm-9">
				<div class="col-sm-6">
				<select class="form-control" ng-model="exp.ftp_account_id">
					<option ng-repeat="option in ftp_acc_list" value="{{option.ftp_account_id}}">{{option.title}}</option>
				</select>
				</div>
				<div class="col-sm-6"></div>
			</div>
		</div>
		<div class="form-group">
			<label for="inputttl" class="col-sm-3 control-label"></label>
			<div class="col-sm-9">
				<button value="Export" class="btn btn-primary" ng-click="exportData()">Export</button>
			</div>
		</div>
	</form>
</div>
</div>
</div>


