<div ng-controller="dataExportForm">
<div class="col-md-7">
<div class="panel panel-primary">
<div class="panel-heading">
	<h3 class="panel-title">Save FTP Accounts</h3>
</div>
<div class="panel-body">
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label for="inputttl" class="col-sm-3 control-label">Title</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="inputttl" placeholder="Title" />
			</div>
		</div>
		<div class="form-group">
			<label for="inputuname" class="col-sm-3 control-label">FTP Username</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="inputuname" placeholder="FTP Username" />
			</div>
		</div>
		<div class="form-group">
			<label for="inputpwd" class="col-sm-3 control-label">FTP Password</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="inputpwd" placeholder="FTP Password" />
			</div>
		</div>
		<div class="form-group">
			<label for="inputip" class="col-sm-3 control-label">Host</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="inputip" placeholder="Host" />
			</div>
		</div>
		<div class="form-group">
			<label for="inputport" class="col-sm-3 control-label">Port</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="inputport" placeholder="Port" />
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default">Save</button>
			</div>
		</div>
	</form>
</div>
</div>
</div>
<div class="col-md-5">
<div class="panel panel-primary">
<div class="panel-heading">
	<h3 class="panel-title">FTP Accounts</h3>
</div>
<div class="panel-body">
	<table class="table table-hover">
		<thead>
			<tr>
			<th>Title</th>
			<th>Edit</th>
			<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			<tr>
			<td>Test 01</td>
			<td>Edit</td>
			<td>Delete</td>
			</tr>
			<tr>
			<td>Test 02</td>
			<td>Edit</td>
			<td>Delete</td>
			</tr>
			<tr>
			<td>Test 03</td>
			<td>Edit</td>
			<td>Delete</td>
			</tr>
		</tbody>
	</table>
</div>
</div>
</div>
</div>
