<div ng-controller="dataExportFilter" class="container">
<div class="leftpanel maindiv col-md-3 col-sm-12">
    <div class="panel panel-default">
		<div class="panel-heading section"><h4><b>Filters</b></h4></div>
		<div class="panel-body" style="padding: 0px 0px 10px 0px;">
			<accordion close-others="true">
				<accordion-group is-open="false">
				  <accordion-heading>Genres</accordion-heading>
				  <div style="max-height:150px; padding:5px; overflow:auto;" class="">
					<label><input type="checkbox" ng-click="toggleAll()" ng-model="isAllSelected"> Select All</label>
					<div class="checkbox" ng-repeat="g in genreList">
						<label><input type="checkbox" checklist-model="exp.genres" checklist-value="g.genre_id"> {{g.genre}}</label>
					</div>
				</div>
				</accordion-group>
				<accordion-group is-open="false">
				  <accordion-heading>Groups</accordion-heading>
				  This is just some content to illustrate fancy headings.
				</accordion-group>
				<accordion-group is-open="false">
					<accordion-heading>Titles</accordion-heading>
					<div class="row-fluid">
						<div class="input">
							<angucomplete-alt id="ex1"
								placeholder="Enter movie title"
								pause="100"
								selected-object="selectedMovie"
								local-data="movies"
								search-fields="name"
								title-field="name"
								minlength="1"
								clear-selected="true"
								input-class="form-control form-control-small"/>
						</div>
					</div>
					<div style="max-height:150px; padding:5px; overflow:auto;" >
						<div class="filter_titles ng-binding ng-scope" ng-repeat="movie in selectedMovies" style="">
							{{movie.title}}
							<a class="pull-right small text-danger" ng-click="removeTitle(movie)"><i class="fa fa-times"><b>X</b></i></a>
						</div>
					</div>
				</accordion-group>
			</accordion>
		</div>
		<div class="panel-heading section"><h4><b>Output Format</b></h4></div>
		<div class="panel-body" style="padding: 0px 0px 10px 0px;">
			<accordion close-others="true">
				<accordion-group is-open="false">
					<accordion-heading>FIle Format</accordion-heading>
					File formats
				</accordion-group>
				<accordion-group is-open="false">
					<accordion-heading>Fields</accordion-heading>
					<div style="max-height:150px; padding:5px; overflow:auto;" class="">
						<label><input type="checkbox" ng-click="toggleAll()" ng-model="isAllSelected"> Select All</label>
						<div class="checkbox" ng-repeat="column in columns">
							<label><input type="checkbox" checklist-model="exp.columns" checklist-value="column"> {{column}}</label>
						</div>
					</div>
				</accordion-group>
			</accordion>
		</div>
		<div class="panel-heading section"><h4><b>Export Settings</b></h4></div>
		<div class="panel-body" style="padding: 0px 0px 10px 0px;">
			<accordion close-others="true">
				<accordion-group is-open="false">
					<accordion-heading>One time download</accordion-heading>
					One time download
				</accordion-group>
				<accordion-group is-open="false">
					<accordion-heading>Schedule</accordion-heading>
					One time download
				</accordion-group>
				<accordion-group is-open="false">
					<accordion-heading>FTP Location</accordion-heading>
					<select class="form-control" ng-model="exp.ftp_account_id">
						<option ng-repeat="option in ftp_acc_list" value="{{option.ftp_account_id}}">{{option.title}}</option>
					</select>
				</accordion-group>
			</accordion>
		</div>
    </div>
	<div style="padding:5px; overflow:auto;" class="">
		<input type="button" ng-model="exp.refresh" class="btn btn-primary" value="Reload Results">
	</div>
</div>
<div class="maindiv col-md-9 col-sm-12">
    <div class="panel panel-default">
		<div class="panel-heading section"><h4><b>Results</b></h4></div>
		<div class="panel-body">
			gdfgdfgs
		</div>
    </div>
</div>
</div>


