<div ng-controller="dataExportFilter" class="container">
<div class="col-md-3 col-sm-12">
    <div class="panel panel-default">
		<div class="panel-heading">Filters</div>
		<div class="panel-body">
			<b>Genres</b>
			<div style="max-height:150px; padding:5px; overflow:auto;" class="">
				<label><input type="checkbox" ng-click="toggleAll()" ng-model="isAllSelected"> Select All</label>
				<div class="checkbox" ng-repeat="g in genreList">
					<label><input type="checkbox" checklist-model="exp.genres" checklist-value="g.genre_id"> {{g.genre}}</label>
				</div>
			</div>
			<hr/>
			<div class="row-fluid">
				<div class="input">
					<angucomplete-alt id="ex1"
						placeholder="Enter movie title"
						pause="100"
						selected-object="selectedMovie"
						local-data="movies"
						search-fields="name"
						title-field="name"
						minlength="1"
						clear-selected="true"
						input-class="form-control form-control-small"/>
				</div>
			</div>
			<div class="checkbox" ng-repeat="movie in selectedMovies">
				<label>
					<input type="checkbox"
					ng-click="updateTitleSelection(movie.title)">{{movie.title}}
				</label>
			</div>
			<br/>
			<input type="button" ng-model="exp.refresh" class="btn btn-primary" value="Filter Results">
		</div>
    </div>
</div>
<div class="col-md-9 col-sm-12">
    <div class="panel panel-default">
		<div class="panel-heading">Results</div>
		<div class="panel-body">
		</div>
    </div>
</div>
</div>


