<div class="container form-sec" ng-controller="jobsManager">
	<div class="col-md-12">
		<div class="box box-warning">
			<div class="second-border"></div>
			<div class="box-header with-border">
				<h3 class="box-title">Saved Jobs</h3>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<div class="panel-body">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>ID</th>
								<th>Title</th>
								<th>Frequency</th>
								<th>Selected Fields</th>
								<th>Added Date</th>
								<th>FTP Account</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in jobs_data" ng-class="{'selected':$index == selectedRow}">
								<td>{{item.data_export_schedule_id}}</td>
								<td>{{item.schedule_title}}</td>
								<td>{{item.frequency}}</td>
								<td>{{item.selected_columns}}</td>
								<td>{{item.added_date | date:'dd-MM-yyyy'}}</td>
								<td>{{item.title}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>