<div ng-controller="jobsManager">
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Saved Jobs</h3>
			</div>
			<div class="panel-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>ID</th>
							<th>Frequency</th>
							<th>Selected Fields</th>
							<th>FTP Account</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in jobs_data" ng-class="{'selected':$index == selectedRow}">
							<td>{{item.data_export_schedule_id}}</td>
							<td>{{item.frequency}}</td>
							<td>{{item.selected_columns}}</td>
							<td>{{item.ftp_account_id}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>