<div class="container">
	<div class="col-md-6 col-xs-12">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
	</div>
	<div class="col-md-6 col-xs-12 well">
		<legend>Login</legend>

	    <!--<div class="form-group">
		  <label for="username">Username</label>
		  <input type="text" class="form-control" id="username" placeholder="Username" ng-model="user.username">
		</div>

		<div class="form-group">
		  <label for="password">Password</label>
		  <input type="password" class="form-control" id="password" placeholder="Password" ng-model="user.password">
		</div> -->

		<button type="button" ng-click="login()" class="btn btn-primary">Login Using Management Portal</button>
	</div>
</div>