<div ng-controller="scheduleDataExport" class="container form-sec">
	<div class="col-md-12">
		<div class="box box-warning">
			<div class="second-border"></div>
			<div class="box-header with-border">
				<h3 class="box-title">Create Schedule to Export Bulk Data</h3>
			</div>
			<div class="box-body">
			<form role="form" class="form-horizontal ng-pristine ng-valid">
				<div class="form-group">
					<label for="inputttl" class="col-sm-3 control-label">Schedule Title</label>
					<div class="col-sm-9">
						<div class="col-sm-6">
							<input type="text" ng-model="exp.schedule_title" class="form-control ng-pristine ng-untouched ng-valid"/>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="email" class="control-label col-sm-3">Frequency:</label>
					<div class="col-sm-9 switch-field">
					<input type="radio" ng-model="exp.switch_3" value="daily" name="switch_3" id="switch_3_right" class="ng-pristine ng-untouched ng-valid btn-right">
					<label for="switch_3_right">Daily</label>
					<input type="radio" ng-model="exp.switch_3" value="weekly" checked="" name="switch_3" id="switch_3_left" class="ng-pristine ng-untouched ng-valid btn-right">
					<label for="switch_3_left">Weekly</label>
					<input type="radio" ng-model="exp.switch_3" value="monthly" name="switch_3" id="switch_3_center" class="ng-pristine ng-untouched ng-valid">
					<label for="switch_3_center">Monthly</label>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label" for="inputttl">Table</label>
					<div class="col-sm-9">
						<div class="radio radio-right">
						<label><input type="radio" ng-model="exp.table" value="title" ng-change="loadColumns(exp.table)" name="table" class="ng-pristine ng-untouched ng-valid">Title</label>
						</div>
						<div class="radio radio-right">
						<label><input type="radio" ng-model="exp.table" value="Diggit_IP" ng-change="loadColumns(exp.table)" name="table" class="ng-pristine ng-untouched ng-valid">Diggit_IP</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label radio-right" for="inputttl">Columns</label>
					<div class="col-sm-9">
						<!-- ngIf: columns.length === 0 -->
						<span ng-if="columns.length === 0" class="ng-scope btn-right"> Please select a table </span>
						<table class="table table-striped" ng-if="columns.length > 0">
							<tr>
								<th><input type="checkbox" checklist-model="exp.columns_all" checklist-value="1" ng-click="toggleAllColumns()"></th><th>Select All</th>
							</tr>
							<tr ng-repeat="column in columns">
								<td><input type="checkbox" checklist-model="exp.columns" checklist-value="column"></td><td>{{column}}</td>
							</tr>
						</table>
						<!-- end ngIf: columns.length === 0 -->
						<!-- ngRepeat: column in columns -->
					</div>
				</div>
				<div class="form-group">
					<label for="inputttl" class="col-sm-3 control-label">Filter By Genres</label>
					<div class="col-sm-9">
						<div class="checkbox">
							<label class="btn-right">
							<input type="checkbox" ng-model="exp.isGenre" ng-change="isFilterByGenre()" class="ng-pristine ng-untouched ng-valid">
							</label>
						</div>
					</div>
				</div>
				<div class="form-group" ng-if="exp.isGenre">
					<label for="inputttl" class="col-sm-3 control-label"></label>
					<div class="col-sm-9">
						<table class="table table-striped">
						<tr><th><input type="checkbox" checklist-model="exp.genres_all" checklist-value="1" ng-click="toggleAll()"></th><th>Select All</th></tr>
						<tr ng-repeat="g in genreList">
							<td><input type="checkbox" checklist-model="exp.genres" checklist-value="g.genre_id"></td><td>{{g.genre}}</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="form-group">
				<label for="inputttl" class="col-sm-3 control-label">File Name</label>
				<div class="col-sm-9">
					<div class="col-sm-6">
						<input type="text" ng-model="exp.fileName" class="form-control ng-pristine ng-untouched ng-valid"/>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="inputttl" class="col-sm-3 control-label">FTP Location</label>
				<div class="col-sm-9">
					<div class="col-sm-6">
					<select class="form-control ng-pristine ng-untouched ng-valid" ng-model="exp.ftp_account_id">
						<option ng-repeat="option in ftp_acc_list" value="{{option.ftp_account_id}}">{{option.title}}</option>
					</select>
					</div>
					<div class="col-sm-6"></div>
				</div>
			</div>
			<div class="form-group">
				<label for="inputttl" class="col-sm-3 control-label"></label>
				<div class="col-sm-9">
					<button value="Save" class="btn btn-primary btn-right" ng-click="createSchedule()">Save</button>
				</div>
			</div>
			</form>
			</div>
			<br>
			<br>
		</div>
	</div>
</div>

