<div ng-controller="dataExportForm" class="panel panel-primary">
<div class="panel-heading">
	<h3 class="panel-title">Create Schedule to Export Bulk Data</h3>
</div>
<div class="panel-body">
<form class="form-horizontal" role="form">
		<div class="form-group">
			<label class="control-label col-sm-3" for="email">Frequency:</label>
			<div class="col-sm-9 switch-field">
				<input type="radio" id="switch_3_left" name="switch_3" value="yes" checked/>
				<label for="switch_3_left">Weekly</label>
				<input type="radio" id="switch_3_center" name="switch_3" value="maybe" />
				<label for="switch_3_center">Monthly</label>
				<input type="radio" id="switch_3_right" name="switch_3" value="no" />
				<label for="switch_3_right">Quarterly</label>
			</div>
		</div>
		<div class="form-group">
			<label for="inputttl" class="col-sm-3 control-label">Table</label>
			<div class="col-sm-9">
				<div class="radio">
					<label><input type="radio" name="table" ng-change='loadColumns(exp.table)' value="title" ng-model="exp.table"/> Title</label>
				</div>
				<div class="radio">
					<label><input type="radio" name="table" ng-change='loadColumns(exp.table)' value="infohashes1" ng-model="exp.table"/> Infohash</label>
				</div>
				<div class="radio">
					<label><input type="radio" name="table" ng-change='loadColumns(exp.table)' value="ip" ng-model="exp.table"/> IP</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="inputttl" class="col-sm-3 control-label">Columns</label>
			<div class="col-sm-9">
				<div class="checkbox" ng-repeat="column in columns">
					<label><input type="checkbox" checklist-model="exp.columns" checklist-value="column"> {{column}}</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="inputttl" class="col-sm-3 control-label"></label>
			<div class="col-sm-9">
				<div class="col-sm-6">
					<select class="form-control" ng-model="exp.ftp_account_id">
						<option ng-repeat="option in ftp_acc_list" value="{{option.ftp_account_id}}">{{option.title}}</option>
					</select>
				</div>
				<div class="col-sm-6">
					<button value="Save" class="btn btn-primary" ng-click="createSchedule()">Save</button>
				</div>
			</div>
		</div>
	</form>
</div>
</div>


